#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
    gap: 5px;
}

.square {
    display: flex;
    flex-wrap: wrap;
    float: left;
    height: 100%;
    width: 100%;
    border: solid 1px;
    font-size: 100pt;
    justify-content: center;
    align-items: center;
}

#restart-button{
    display: none;
}