body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

#form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#book-form-button{
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
}

form {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5pt;
    border: solid 1px;
    width: 300px;
    background-color: #ffff;
    border: solid 1px black;
    font-size: 14pt;
}

form label{
    font-size: 14pt;
}

.form-input{
    text-align: center;
    height: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 12pt;
}



#book-submit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
}

#listBooks{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
th {
    padding: 10px;
    width: 200px;
}

td {
    padding: 10px;
    height: 75px;
}

.bookRead{
    border: 4px solid;
    border-radius: 10%;
    background-color: #32be2e;
}

.bookUnread{
    border: 4px solid;
    border-radius: 10%;
    background-color: #c9a584;
}

button{
    padding: 0;
}

.action-btn {
    background-color: #c77979; /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10pt;
  }

  .action-btn2 {
    background-color: #849ac9; /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10pt;
  }
